[submodule "luacov"]
	path = luacov
	url = https://github.com/keplerproject/luacov
[submodule "luacov-cobertura"]
	path = luacov-cobertura
	url = https://github.com/britzl/luacov-cobertura
[submodule "luaunit"]
	path = luaunit
	url = https://github.com/bluebird75/luaunit
